[title="Graphical user interface"]{
    color:hotpink;
}

/* .high{
    color:green;
font-size:29px;
font-family:cursive;
font-weight:300;
text-decoration-line:none;
}
.domis{
    color:black;
   border:2px solid greenyellow;
font-size:29px;
font-family:cursive;
font-weight:300;
text-decoration-line:none;
} */